@charset "utf-8";

/*
   Author: ETHW-ECPI
   Date:   6/10/2026
   
   Filename: styles.css
*/

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

body {
   animation: fadeIn 1s ease-in forwards;
   font-family: Arial, Helvetica, sans-serif;
   background-color: white;
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   border-top: 6px solid rgb(102, 125, 136);
   border-bottom: 6px solid rgb(102, 125, 136);
}

header {
   text-align: center;
}

footer {
   display: flex;
   text-align: center;
   justify-content: center;
   color: white;
   background-color: rgb(37, 71, 104);
   border-radius: 4px;
   max-width: 30%;
}

section {
   background-color: white;
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   margin: 8px;
   gap: 1rem;
   transition: background-color 1.5s;
}

section>h2 {
   text-align: center;
   border-bottom: 3.5px solid rgb(37, 71, 104);
}

section#blog {
   max-width: 50%
}

article {
   display: flex;
   max-width: 50%;
   padding: 10px;
   color: white;
   background-color: rgb(37, 71, 104);
   border-radius: 4px;
   justify-content: center;
}

p {
   margin: 0px;
   padding: 0px;
}

nav ul {
   display: flex;
   justify-content: center;
   list-style-type: none;
   margin: 0px;
   padding: 0px;
}

nav ul li a {
   margin: 0px 15px;
   color: black;
   background-color: white;
   padding: 12px 20px;
   text-decoration: none;
   display: block;
   border-radius: 4px;
   transition: background-color 1s;
}

nav ul li a:hover {
   background-color: rgb(216, 214, 214);
}

form {
   display: flex;
   flex-direction: column;
   padding: 10px;
   color: white;
   background-color: rgb(37, 71, 104);
   border-radius: 4px;
}

input,
textarea {
   transition: #c9c9c9 0.3s ease;
}

input:hover,
textarea:hover {
   border-color: #888;
}

input:focus,
textarea:focus {
   border-color: #007BFF;
   outline: none;
}

button[type="submit"] {
   transition: #c9c9c9 0.3s ease;
}

button[type="submit"]:hover {
   background-color: #0056b3;
}

button[type="submit"]:focus {
   background-color: #004494;
   outline: none;
}

textarea {
   resize: none;
}

label {
   padding: 5px;
}

/* Screen Size Stuff */
/* Smaller Screens */
@media (max-width: 768px) {
   article {
      flex-direction: column;
   }
}

/* Wider Screens */
@media (min-width: 768px) {
   article {
      flex-direction: row;
   }
}

/* Phones */
@media only screen and (max-width: 767px) {
   body {
      font-size: 16px;
   }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
   body {
      font-size: 18px;
   }
}

/* Desktops */
@media screen and (min-width: 1025px) {
   body {
      font-size: 18px;
   }
}